certifi
charset-normalizer
defusedxml
docopt
et_xmlfile
httpie
idna
markdown-it-py
mdurl
multidict
numpy
openpyxl
packaging
pandas
pip-review
Pygments
PySocks
python-dateutil
pytz
requests
requests-toolbelt
rich
setuptools
six
tzdata
urllib3
veracode-api-signing
